<div class="container">
  <h1><%= @event.name %></h1>
  <h3>Guests Attending</h3>

  <% @bookings.each do |booking|  %>
    <%= link_to booking_path(booking), method: :get do %>
      <div class="notification mb-2">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small>Intention: <%= booking.intention.name %></small></p>
          <p><strong><%=link_to "#{booking.user.username}", booking_path(booking), method: :get %></strong></p>
        </div>

        <div class="notification-actions">
        </div>
      </div>
    <% end %>
  <% end  %>
</div>
