<div class="container">
  <h3 class="mt-4">State your Intention</h3>
  <div>
    <%= simple_form_for [@event, @booking] do |f| %>
      <%= f.association :intention, as: :radio_buttons%>
      <%= f.input :intention_description %>
      <%= f.submit "Enter Event", class: "btn btn-create"%>
    <% end %>
  </div>
</div>
