<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <i class="navbar-icon fas fa-user"></i>
  <% end %>
  <%= link_to "#", class: "navbar-brand" do %>
    <i class="navbar-icon fas fa-home"></i>
  <% end %>
  <%= link_to "#", class: "navbar-brand" do %>
    <i class="navbar-icon fas fa-clipboard-list"></i>
  <% end %>
</div>
