<div class="navbar navbar-expand-sm navbar-light navbar-buddy">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
    <i class="navbar-icon fas fa-user"></i>
  <% end %>
  <%= link_to events_path, class: "navbar-brand" do %>
    <i class="navbar-icon fas fa-home"></i>
  <% end %>
  <%= link_to chatrooms_path, class: "navbar-brand" do %>
    <i class="navbar-icon far fa-comment"></i>
  <% end %>
</div>
