<div class="navbar fixed-bottom navbar-expand navbar-light navbar-buddy">
  <%= link_to dashboard_path do %>
    <i class="navbar-icon fas fa-clipboard-list"></i>
  <% end %>
  <%= link_to events_path do %>
    <i class="navbar-icon fas fa-angle-double-up"></i>
  <% end %>
  <%= link_to chatrooms_path do %>
    <i class="navbar-icon fas fa-comments"></i>
  <% end %>
</div>
