<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal-letters" id="calendarModalLabel">Calendar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         </div>

          <%= month_calendar(events: events_month) do |date, events| %>
            <%= date %>

            <% events.each do |event| %>
              <div class="events_month">
                <p><%= event.name %></p>
              </div>
            <% end %>
          <% end %>


    </div>
  </div>
</div>
