<div class="mt-5"></div>
  <div class="container mt-5">
  <h1 class="mt-4 mb-4">DASHBOARD</h1>
  <ul class="nav nav-tabs list-inline tabs-underlined mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active tab-underlined" id="myevents-tab" data-toggle="tab" href="#myevents" role="tab" aria-controls="myevents" aria-selected="true">My Events</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link tab-underlined" id="nudgesin-tab" data-toggle="tab" href="#nudgesin" role="tab" aria-controls="nudgesin" aria-selected="false">Nudge Requests</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link tab-underlined" id="nudgespending-tab" data-toggle="tab" href="#nudgespending" role="tab" aria-controls="nudgespending" aria-selected="false">Pending Nudges</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link tab-underlined" id="chatrooms-tab" data-toggle="tab" href="#chatrooms" role="tab" aria-controls="chatrooms" aria-selected="false">Chatrooms</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="myevents" role="tabpanel" aria-labelledby="myevents-tab">
      <div class="mb-2 mt-4  p-5 info-section">
        <h5>Useing the event variable in order to pass through to the event_bookings_path</h5>
        <% @events.each do |event|%>
          <p><%= link_to event.name,  event_bookings_path(event) %></p>
        <% end  %>
      </div>
    </div>
    <div class="tab-pane fade" id="nudgesin" role="tabpanel" aria-labelledby="nudgesin-tab">
      <div class="mb-2 mt-4  p-5 info-section">
        <div>
         <% @notifications.each do |notification|  %>
          <%= notification %>
         <% end  %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nudgespending" role="tabpanel" aria-labelledby="nudgespending-tab">
      <div class="mb-2 mt-4  p-5 info-section">
        <div>
         <% @requests.each do |request|  %>
          <%= request %>
         <% end  %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="chatrooms" role="tabpanel" aria-labelledby="chatrooms-tab">
      <div class="mb-2 mt-4  p-5 info-section">
        <div>
         <h2>Fill here with the users chatrooms when relevant</h2>
        </div>
      </div>
    </div>
  </div>
</div>
