<div class="top-block mb-5">
  <%= image_tag 'logobtngreen.png', class: "mb-5" %>
  <div class="text-center mt-5">
    <h1>Welcome to Tilhar</h1>
    <p><em>finding value in shared experiences</em></p>
  </div>
</div>

<div class="container">
  <div class="signup d-flex">
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-signup mt-5" %><br />
    <p>already have an account? <%= link_to "Login", new_user_session_path %></p>
  </div>
</div>

<fieldset class="form-group radio_buttons optional snippet_intentions">
  <legend class="col-form-label pt-0">Intentions</legend>
  <input type="hidden" name="snippet[intention_ids][]" value="0">
  <div class="intention-item">
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="1" name="snippet[intention_ids][]" id="snippet_intention_ids_1">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_1">Experience</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="2" name="snippet[intention_ids][]" id="snippet_intention_ids_2">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_2">Party</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="3" name="snippet[intention_ids][]" id="snippet_intention_ids_3">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_3">Meet People</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="4" name="snippet[intention_ids][]" id="snippet_intention_ids_4">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_4">Listen to Music</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="5" name="snippet[intention_ids][]" id="snippet_intention_ids_5">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_5">Explore</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="6" name="snippet[intention_ids][]" id="snippet_intention_ids_6">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_6">Adventure</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="7" name="snippet[intention_ids][]" id="snippet_intention_ids_7">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_7">Exercise</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="8" name="snippet[intention_ids][]" id="snippet_intention_ids_8">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_8">Cultural</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="9" name="snippet[intention_ids][]" id="snippet_intention_ids_9">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_9">Dating</label>
      <input class="form-check-input radio_buttons optional intention-selector" type="radio" value="10" name="snippet[intention_ids][]" id="snippet_intention_ids_10">
    <label class="form-check-label collection_radio_buttons" for="snippet_intention_ids_10">Educational</label>
  </div>
</fieldset>
