.btn-flat {
  color: $yellow;
  padding: 8px 24px;
  border-radius: 4px;
  background: $blue;
  transition: background 0.3s ease;
}

.btn-signin {
  color: $yellow;
  padding: 8px 24px;
  border-radius: 4px;
  background: $orange;
  transition: background 0.3s ease;
}

.btn-signup {

  padding: 8px 24px;
  border-radius: 30px;
  background: #ce4f25;
  transition: background 0.3s ease;
  width: 80%;
  margin: 0 0 auto;
  text-align: center;
}

.btn-create {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
}

.btn-booking {
      width: 100%;
    margin-bottom: -16px;
}

.btn-delete {
  color: #F4F1DE;
  padding: 3px 9px;
  border-radius: 3px;
  background: #3D405B80;
  transition: background 0.3s ease;
  font-size: 14px;
}
