.chatroom {
  overflow: hidden;
  height: 95px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.chatroom .chatroom-content {
  flex-grow: 1;
  padding-right: 20px;
}

.chatroom-photo {
  padding: 0 15px 0 20px;
}

.chatroom p {
  margin: 0;
  line-height: 1.1;
}

.chatroom small {
  color: #999999;
  font-weight: 300;
}
.chatroom .chatroom-actions {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 0px;

  i {
    margin: 0px 2px;
  }
}

.chatroom-name {
  position: relative;
  h6 {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
  }
}

.chatroom:hover .chatroom-actions {
  opacity: 1;
}

.chatroom .chatroom-actions a {
  color: #999999;
  font-size: 14px;
}


.reason-comment {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

.message-form {
  position:fixed;
  bottom:28px;
  width:92%
}

.name-date-time p {
  font-size: 12px;
}
