
.index-head {
  border-bottom: 2px solid $gray ;
  margin-bottom: 10px;
}

.event-img{
  width:100%;
  img {
      height: 200px;
  }

}

.event-pic{
  object-fit: cover;
  width:100%;
}

.Join {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}

.event-info {
  margin-bottom: 18px;
  margin-top: 18px;

  h4 {
    font-weight: 600;
    font-size: 24px;
  }
}

.event-icons {

  i {
    color: $orange;
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

.move-up {
  margin-top: -10px;
}

.full-event-details {
  h4 {
    font-size: 20px;
    font-weight: 500;
  }
}
