.scene {
  display: inline-block;
/*   border: 1px solid #CCC; */
  // margin: 40px 0;
  // perspective: 600px;
  // margin: 0 10px 0 10px;
}

.hidden {
  display: none;
}
.card-flip {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.4s;
}

.card-flip.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  // position: absolute;
  backface-visibility: hidden;
}

.card__face--front {
}

.card__face--back {
  transform: rotateY(180deg);
}
