.intention-info {
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.buddy-info {
  h4 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
  }
}
