#map{
  height:330px;
  object-fit: cover;
  width:100%;
}
.mapboxgl-canvas{
  width:100%!important;

}

.container .map {
  position:relative;
  margin-left:0;
  margin-right:0;
  padding-left: 0;
  padding-right:0;
  width:100%;
}
