.message-user {
  background: white;
  max-width: 77%;
  min-width: 60%;
  margin-bottom: 4px;
  display: flex;
  border-radius: 8px;
  position: relative;
  background-color: white;
  transform: skewX(18deg);

;
}

.message-user-content {
  flex-grow: 1;
  padding: 4px;
  margin-left: 5px;
  border-radius: 8px;
  transform: skewX(-18deg);

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.message-user-time {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: 11px;
  margin-bottom: 0;
  opacity: 0.6;
  transform: skewX(-18deg);
}

.message-user-photo {
  padding: 8px 15px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: $light-gray;
  transform: skewX(-18deg);

  p {
    margin-bottom: 0;
    line-height: 1.1;
    font-size: 13px;
    opacity: 0.8;
    padding-top: 2px;
  }
}

.message-guest {
  overflow: hidden;
  height: 60px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: right;
  border-radius: 6px;
  padding-left: 15px;
  // border-bottom: 1px solid $light-gray;
  width: 80%;
  margin-bottom: 3px;
  margin-left: 5px;
}

.messages .messages-content {
  flex-grow: 1;
  padding-right: 5px;
  margin-left: 12px;
}

.messages p {
  margin: 0;
  line-height: 1.1;
  font-size: 12px;
}

.messages small {
  color: #999999;
  font-weight: 300;
}

.messages h6 {
  color: #999999;
  font-weight: 300;
  text-align: right;
  font-size: 10px;
  margin-bottom: 0;
}

.messages .messages-actions {
  opacity: 1;
  display: flex;
  flex-direction: column;
  transition: ease .3s;
}

.messages:hover .messages-actions {
  opacity: 1;
  // z-index: -1;
}

.messages .messages-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.messages .messages-actions a:hover {
  color: #555555;
}

.reason-comment {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.message-container .current-user {
  .messages {
      display: flex;
      width: 80%;
      justify-content: flex-end;

  }

}


.messages-contacts {
  overflow: hidden;
  height: 60px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: left;
  border-radius: 6px;
  padding-left: 15px;
  // border-bottom: 1px solid $light-gray;
  width: 80%;
  margin-bottom: 3px;
  margin-left: 5px;
}
