.notification {
  overflow: hidden;
  height: 240px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.notification .notification-content {
  flex-grow: 1;
  padding-right: 15px;
  margin-left: 12px;
}

.notification-content p {
  margin: 0;
  line-height: 1.1;
}

.notification-content h5 {
  // margin: 0;
  font-size: 15px;
}

.notification-content h6 {
  // margin: 0;
  font-size: 11px;
}


.notification small {
  color: #999999;
  font-weight: 300;
}

.notification .notification-actions {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 8px 5px;

  i {
    margin: 0px 2px;
  }
}

.notification:hover .notification-actions {
  opacity: 1;
  // z-index: -1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.reason-comment {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
