.intention-item {
  display: inline-block;
}

.intention-selector {
  position: absolute;
  transform: scale(0);
}

.intention-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #e6c17e;
  color: #503e1e;
  border: 1px solid #e69935;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.intention-selector:checked + label {
  background-color: orange;
  color: white;
}
