.intention-item {
  display: inline-flex;
  //padding: 10px 10px 10px 5px;
  margin-left:auto;
  padding: 7px;
}

.intention-selector {
  position: absolute;
  transform: scale(0);
}

.booking_intention_description {
  padding:20px
}

.intention-selector + label {
  cursor: pointer;
  display: space-around;
  font-size: 1rem;
  border-radius: 10rem;
  padding: 0.1rem 0.5rem;
  background-color: #E9C891;
  color: black;
  border: 1.5px solid #e69935;
  margin-bottom: 0.2rem;
  text-align: center;
}

.intention-selector:checked + label {
  background-color: $red;
  color: white;
}
