.intention-item {
  display: justify;
  margin: 5px 10px 5px 10px;
}

.intention-selector {
  position: absolute;
  transform: scale(0);
}

.intention-selector + label {
  cursor: pointer;
  display: space-around;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #e6c17e;
  color: #503e1e;
  border: 1.5px solid #e69935;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  text-align: center;
}

.intention-selector:checked + label {
  background-color: orange;
  color: white;
}
