.request {
  overflow: hidden;
  height: 82px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.request-user-infos {
  background-color: #f4a59c;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px 0 24px;
  width: 130px;

  p {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0 0 0;
    line-height: 1.1;

  }
}

.request .request-content {
  flex-grow: 1;
  padding-right: 15px;
  margin-left: 12px;
}

.request-content p {
  margin: 0;
  line-height: 1.1;
}

.request-content h5 {
  // margin: 0;
  font-size: 15px;
}

.request-content h6 {
  // margin: 0;
  font-size: 11px;
}


.request small {
  color: #999999;
  font-weight: 300;
}

.request .reason-comment {
  text-align: center;
}

.request-event {

}
