.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tabs-underlined .tab-underlined {
  color: $gray;
  padding: 8px;
  margin: 8px 4px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
}

.tabs-underlined .tab-underlined.active {
  opacity: 0.9;
  color: $blue;
  border-radius: 15px;
  background: none;
  transition: background 0.3s ease;
  border: 1px solid $blue;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link{
  font-size: 15px;
  border: none;

}
